<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="MovieCollection.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="MovieCollection.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="Libraries;Plugins;Plugins\DataSources;Plugins\WebSources;Languages"/>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <MovieCollection.Properties.Settings>
      <setting name="SelectedLanguage" serializeAs="String">
        <value>de</value>
      </setting>
      <setting name="SelectedWebSource" serializeAs="String">
        <value>OFDB</value>
      </setting>
      <setting name="LastFile" serializeAs="String">
        <value/>
      </setting>
      <setting name="MainWindowHeight" serializeAs="String">
        <value>570</value>
      </setting>
      <setting name="MainWindowWidth" serializeAs="String">
        <value>950</value>
      </setting>
      <setting name="AutoSelectIfOneResult" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AdvancedListView" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SimpleListViewShowYear" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ListViewShowToolTip" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SelectedUser" serializeAs="String">
        <value/>
      </setting>
    </MovieCollection.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <MovieCollection.Properties.Settings>
      <setting name="AvailableLanguages" serializeAs="String">
        <value>en-us;de-de</value>
      </setting>
    </MovieCollection.Properties.Settings>
  </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup></configuration>
